<!DOCTYPE HTML>

<html>

  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<title>Start a Movie Pile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/auto.css?d=20210526" type="text/css" rel="stylesheet">
    <link href="/custom.css?d=20210526" type="text/css" rel="stylesheet">
  </head>
  <body>
    <section>
      <p>
        This page lets you easily create and manage lists of movies.
      </p>
    </section>
    <section>
      <p>
        <input type="button" value="Create pile" onclick="start()"/>
      </p>
    </section>
    <section id="existing-movie-piles">
    </section>
    <script>
<%= ERB.new(File.read('views/javascript/index.js'), nil, nil, '_sub01').result(binding) %>
    </script>
  </body>
</html>
