<!DOCTYPE HTML>

<html>

  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<title>Movie Pile <%= data['id'] %></title>
    <link href="/auto.css?d=20210524" type="text/css" rel="stylesheet">
    <link href="/custom.css?d=20210524" type="text/css" rel="stylesheet">
  </head>

  <body>
    <section class="navigation">
      <a href="/create.html">create a new pile</a> | <a href="/swagger-ui/index.html" target="_blank">api</a>
    </section>
    <section class="movies" id="movie-pile">
      loading movies
    </section>
    <script>
      var request = new XMLHttpRequest();
      request.open( "GET", "<%= data['api_url'] %>", false );
      request.send( null );
      var movies = JSON.parse(request.responseText);
      var imagesHtml = "";
      for (var i = 0; i < movies.length; i++) {
        imagesHtml += '<a href="' +  movies[i].url + '"><img src="' +  movies[i].image + '" title="' +  movies[i].title + '" alt="Movie: ' +  movies[i].title + '"/></a>';
      }
      if(imagesHtml == ""){
        imagesHtml = "no movies found";
      }
      document.getElementById("movie-pile").innerHTML = imagesHtml;
    </script>

  </body>

</html>
