{
  "swagger": "2.0",
  "info": {
    "description": "This api retrieves movies information from a pile (list) of given movie website urls. <a href='/'>Go here</a> to see it in live action",
    "version": "<%= api['version'] %>",
    "title": "<%= api['title'] %>"
  },
  "host": "<%= api['host'] %>",
  "basePath": "/api",
  "tags": [
    {
      "name": "movie pile"
    }
  ],
  "schemes": [
    "<%= api['scheme'] %>"
  ],
  "paths": {
    "/movie-pile": {
      "get": {
        "tags": [
          "movie pile"
        ],
        "summary": "retrieves movies information about a pile given in the data parameter",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "description": "newline separated list of movie urls",
            "required": true,
            "type": "string",
            "schema": {
              "example": "https://www.imdb.com/title/tt0468569/"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MovieList"
            }
          }
        }
      }
    },
    "/movie-pile/{movie_pile_id}": {
      "get": {
        "tags": [
          "movie pile"
        ],
        "summary": "retrieves movies information about a pile persistet on pastebin",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "movie_pile_id",
            "in": "path",
            "description": "ID of a pastebin",
            "required": true,
            "type": "string",
            "schema": {
              "example": "WfEX9zB8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MovieList"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MovieList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Movie"
      }
    },
    "Movie": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "image": {
          "type": "string",
          "example": "https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UY1200_CR90,0,630,1200_AL_.jpg"
        },
        "title": {
          "type": "string",
          "example": "The Dark Knight (2008)"
        },
        "url": {
          "type": "string",
          "example": "https://www.imdb.com/title/tt0468569/"
        },
      }
    }
  },
  "externalDocs": {
    "description": "Github",
    "url": "https://github.com/itsmethemojo/movie-pile"
  }
}
