<!DOCTYPE HTML>

<html>

  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<title>edit Movie Pile <%= data['id'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/auto.css?d=20210526" type="text/css" rel="stylesheet">
    <link href="/custom.css?d=20210526" type="text/css" rel="stylesheet">
  </head>
  <body>
    <section>
      <p>
        Put several movie site urls in the textfield (newline separated) and then submit.
        This works with every major site e.g. <a href="https://www.imdb.com/">imdb</a>,<a href="https://www.themoviedb.org/">themoviedb</a>, <a href="https://www.rottentomatoes.com/m/alita_battle_angel">rottentomatoes</a> and so on
      </p>
    </section>
    <section>
      <p>
        <a type="button" href="/"> Back to piles</a>
      </p>
    </section>
    <section>
      <p>
        Name
        <input type="text" value="" id="movie-pile-name"/>
        <input type="hidden" value="<%= data['secret'] %>" id="movie-pile-secret"/>
      </p>
      <p>
        Share Url:
        <code id="movie-pile-share-url">
          <%= url("/v2/#{data['id']}") %>
        </code>
      </p>
      <p>
        <button type="button" id="clipboard-button">
          Copy to clipboard
          <span id="clipboard-button-feedback"></span>
        </button>
        <button type="button" id="show-button">
          Show Pile
        </button>
      </p>
    </section>
    <section class="movie-pile" id="movie-pile-section">
      <p><input type="text" value=""/></p>
    </section>
    <section class="movie-pile-add" id="movie-pile-add-section">
        <p>
          <input type="button" value="Add" onclick="addMovie()"/>
        </p>
    </section>
    <section>
      <p>
        <input type="button" value="Save" onclick="saveMovie()"/>
        <span id="saving-feedback"></span>
      </p>
    </section>
    <script>
<%= ERB.new(File.read('views/javascript/v2/edit.js'), nil, nil, '_sub01').result(binding) %>
    </script>
  </body>
</html>
